{% layout './layouts/layout.liquid' %}
{% block head %}
  <link rel="stylesheet" href="/styles/drops.css">
  <link rel="stylesheet" href="/styles/stylesheet.css">
  {% if open %}
    <script src="/scripts/dialogOpen.js" defer></script>
  {% endif %}
{% endblock %}
{% block %}

 
    <header>
      <div>
        <a href="schrijfopdracht">←</a>
        <h1>Community drops</h1>
        <p>Deel wat je van de oefening vond, lees ervaringen van anderen en steun elkaar in de        
            reis door rouw.
          <span>Je bent niet alleen.</span>
        </p>
      </div>
    </header>

     <main>
    <section class="drops-section">
      <h2>Nieuwste berichten</h2>

      <ul class="drops-list">
        {% for message in messages %}

          <li class="drop-item"> 
            <article class="drop-content">
                
                <div class="left-container">
                    <span class="user-avatar" ">
                    {{ message.from | slice: 0, 1 | upcase }}
                    </span>
                </div>

                <div class="right-container">
                    <h3>{{ message.from }}</h3>
                    <time class="drop-date">op {{ message.date_created | date: "%-d %B" }}</time>
                    <p>{{ message.text }}</p>
                </div>

            </article>
          </li>

        {% endfor %}
      </ul>
      <a href="{{link}}/comment" class="post-btn">plaats bericht</a>
    </section>

    <dialog {% if open %}
    {% endif %}>
        <form method="POST" action="/community-drop/{{ id }}" data-enhanced="form" id="post-form">
            <h3>Je hebt zojuist een mooie stap volbracht.</h3>
            <input  type="hidden"
                    name="person"
                    value="{{gebruiker}}">


            <label>Wil je anderen steunen door je gevoelens over deze oefening te delen?
                <textarea name="community_drop" id="community_drop" rows="4" required></textarea>
            </label>

            <label>
                <input type="checkbox" name="anonymous"><div class="fake-checkbox">{% render './partials/icons/checkmark.liquid' %}</div>bericht anoniem plaatsen
            </label>

            <div class="submission-container">
                <button type="submit" class="later-button" name="concept" value="true">
                    <img src="/assets/images/save.svg" alt="save icon" class="save-icon">Misschien later</button>
                <button type="button" class="submit-button" name="concept" value="false">Plaats bericht</button>
            </div>
        </form>
    </dialog>

  </main>
{% endblock %}