{% layout './layouts/layout.liquid' %}
{% block head %}
  <link rel="stylesheet" href="/styles/drops.css">
  <link rel="stylesheet" href="/styles/stylesheet.css">
  {% if dialogOpen %}
    <script src="/scripts/dialogOpen.js" type="module"></script>
  {% endif %}
  <script src="/scripts/clientDrops.js" type="module"></script>
{% endblock %}
{% block %}


  <header>
    <div>
      <a href="./">{% render './partials/icons/left-arrow.liquid' %}</a>
      <h1>Community drops</h1>
      <p>Deel wat je van de oefening vond, lees ervaringen van anderen en steun elkaar in de                     
            reis door rouw.
        <span>Je bent niet alleen.</span>
      </p>
    </div>
  </header>

  <main>
    <section class="drops-section">
      <h2>Nieuwste berichten</h2>
      {% for message in messages %}
        <article class="drop-content" style="view-transition-name: drop-{{ forloop.index }};">
          <div class="left-container">
            <span class="user-avatar">
              {{ message.from | slice: 0, 1 | upcase }}
            </span>
          </div>

          <div class="right-container">
            <h3>{{ message.from }}</h3>
            <time class="drop-date">op {{ message.date_created | date: "%-d %B" }}</time>
            <p>{{ message.text }}</p>
          </div>
        </article>
      {% endfor %}

      <a href="{{link}}/comment" class="post-btn">plaats bericht</a>
    </section>

    <dialog
      {% if open == true %}
      open
      data-open="set"
      {% endif %}>
      <form
        method="POST"
        action="/{{taskSlug}}/{{exerciseId}}/drops"
        data-enhanced="form"
        data-state="default"
        id="post-form">
        <h3>Je hebt zojuist een mooie stap volbracht.</h3>
        <input
          type="hidden"
          name="person"
          value="{{gebruiker}}">
        <input
          type="hidden"
          name="exercise"
          value="{{exerciseId}}">
        <label>Wil je anderen steunen door je gevoelens over deze oefening te delen?
          <textarea
            name="community_drop"
            id="community_drop"
            rows="4"
            required></textarea>
        </label>

        <label>
          <input type="checkbox" name="anonymous"><div class="fake-checkbox">{% render './partials/icons/checkmark.liquid' %}</div>bericht anoniem plaatsen
        </label>

        <div class="submission-container">
          <a href="./" class="closing-button">sluiten</a>
          <button
            type="submit"
            class="submit-button"
            name="concept"
            value="false">Plaats bericht</button>
        </div>

        <div class="loading-state"></div>
      </form>
    </dialog>

  </main>
{% endblock %}