{% layout './layouts/layout.liquid' %}

{% block head %}
  <link rel="stylesheet" href="/styles/exercise.css">
{% endblock %}

{% block %}

  <main class="exercise-page" style="view-transition-name: card-{{exercise.id}}">
    <h1 class="lg">{{ exercise.title }}</h1>
    <p>{{ exercise.description }}</p>


    <div class="flex-container-ex">
      <div class="left-container-ex">
        <p>{{ exercise.type }}</p>
        <p>{{ exercise.duration }} min</p>
      </div>
      <a href="/community-drops/{{exercise.id}}"><img src="../assets/community-drops.png" alt="">{{ exercise.messages.size }} community drops</a>
    </div>

    {% comment %} <div class="progress-ex">
                                                        <div class="progress-done-ex"></div>
                                    </div> {% endcomment %}
    <div class="progress-container">
      <progress
        class="progress"
        value="25"
        max="100"></progress>
      <span class="progress-tooltip">{{ progressValue }}% volbracht</span>
    </div>


    <picture>
      <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}?format=avif">
      <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}?format=webp">
      <img
        class="exercise-image"
        src="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}"
        alt=""
        width="{{ exercise.image.width }}"
        height="{{ exercise.image.height }}">
    </picture>

    <a href="/{{taskSlug}}" class="close-btn">
      {% render './partials/icons/cross.liquid' %}
    </a>
  </main>

{% endblock %}