{% assign currentTask = allTasks[taskId] %}
{% layout './layouts/layout.liquid'
  , title: allTasks[taskId].title %}
{% block head %}
  <link rel="stylesheet" href="/styles/task.css">
  <script type="module" src="/scripts/transitionDetails.js"></script>
{% endblock %}

{% block %}
  <header>
    <nav>
      <ul>
        <li>
          <a href="">
            <div class="rounded-block"></div>Vandaag</a>
        </li>
        <li>
          <a href="">{% render './partials/icons/chat-bubble.liquid' %} Praten</a>
        </li>
      </ul>
      <a href="">{% render './partials/icons/profile.liquid' %}Inloggen</a>
    </nav>

    <nav class="nav-details">
      <details>
        <summary>
          <div class="heading-container">
            <div class="image-container">
              <img
                class="main-mesh"
                src="/assets/images/main-mesh-{{currentTask.id}}.svg"
                alt="taak categorie">
            </div>
            <h1 class="xxl">{{ currentTask.title }}</h1>
          </div>
          <div class="arrow-label">
            selecteer
            {% render './partials/icons/detail-arrow.liquid' %}
          </div>
        </summary>
        <div class="dropdown-container">
          <ul>
            {% for task in allTasks %}
              {% comment %} task.id begint bij 1, taskId begint bij 0 {% endcomment %}
              {% assign continueId = task.id | minus: 1 %}
              {% if continueId == taskId %}
                {% comment %} skip iteratie als de items overeenkomen {% endcomment %}
                {% continue %}
              {% else %}
                
              <li class="lg">
                <a href="/task/{{task.id}}">
                  <div class="image-container"><img src="/assets/images/main-mesh-{{task.id}}.svg" alt="taak categorie"></div>
                  {{ task.title }}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </details>
      <div class="progress-container">
        <progress
          class="progress"
          value="20"
          max="100"></progress>
        <span class="progress-tooltip">20% volbracht</span>
      </div>
    </nav>
    <img
      class="main-mesh"
      src="/assets/images/main-mesh-{{currentTask.id}}.svg"
      alt="taak categorie">
      <div class="group">
        <h2>Rouwstappen van de dag</h2>
        {% comment %} liquid filter voor aantal items in array, kan ook met | size {% endcomment %}
        <p>{{allTasks.size}} oefeningen open voor vandaag</p>
      </div>
  </header>

  <main>
    {% for exercise in exerciseData %}
      <article>
        <div class="container-card">
          <picture>
            <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}?format=avif">
            <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}?format=webp">
            <img
              src="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}"
              width="{{ exercise.image.width }}"
              height="{{ exercise.image.height }}"
              alt=""
              class="exercise-img"
              fetchpriority="high">
          </picture>

          <div class="bottom-grid">
            <h3>{{ exercise.title }}</h3>
            <a class="btn" href="/community-drops/{{exercise.id}}"><img
                src="../assets/community-drops.png"
                height="15"
                width="36"
                alt="">{{ exercise.messages | size }} community drops</a>
            <a class="start-btn" href="task/{{currentTask.id}}/exercise/{{exercise.id}}">start oefening</a>
            <div class="flex-container">
              <p class="btn">
                {% render './partials/icons/clock.liquid' %}
                {{ exercise.duration }} min</p>
              <p class="btn">
                {% render './partials/icons/clock.liquid' %}
                3 tips</p>
            </div>
          </div>
        </div>
      </article>
    {% else %}
      <p>Er zijn geen openstaande opdrachten meer!</p>
    {% endfor %}
  </main>

{% endblock %}