{% layout './layouts/layout.liquid' %}
{% block head %}
  <link rel="stylesheet" href="/styles/task.css">
  <script type="module" src="/scripts/transitionDetails.js"></script>
{% endblock %}

{% block %}
  <header>
    <nav>
      <ul>
        <li>
          <a href="">
            <div class="rounded-block"></div>Vandaag</a>
        </li>
        <li>
          <a href="">{% render './partials/icons/chat-bubble.liquid' %} Praten</a>
        </li>
      </ul>
      <a href="">{% render './partials/icons/profile.liquid' %}Inloggen</a>
    </nav>

    <nav class="nav-details">
      <details>
        <summary>
          <div class="heading-container">
            <div class="image-container">
              <img
                class="main-mesh"
                src="/assets/images/main-mesh-{{mainTask.id}}.svg"
                alt="taak categorie">
            </div>
            <h1 class="xxl">{{ mainTask.title }}</h1>
          </div>
          <div class="arrow-label">
            selecteer
            {% render './partials/icons/detail-arrow.liquid' %}
          </div>
        </summary>
        <div class="dropdown-container">
          <ul>
            {% comment %} Beetje vage naamgeving, graag wat suggesties {% endcomment %}
            {% for otherTasks in allTasks %}
              {% if otherTasks.id == mainTask.id %}
                {% comment %} skip iteratie als de items overeenkomen {% endcomment %}
                {% continue %}
              {% else %}

                <li class="lg">
                  <a href="/{{otherTasks.slug}}">
                    <div class="image-container"><img src="/assets/images/main-mesh-{{otherTasks.id}}.svg" alt="taak categorie"></div>
                    {{ otherTasks.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </details>
      <div class="progress-container">
        <progress
          class="progress"
          value="20"
          max="100"></progress>
        <span class="progress-tooltip">20% volbracht</span>
      </div>
    </nav>
    <img
      class="main-mesh"
      src="/assets/images/main-mesh-{{mainTask.id}}.svg"
      alt="taak categorie">
    <div class="group">
      <h2>Rouwstappen van de dag</h2>
      {% comment %} liquid filter voor aantal items in array, kan ook met | size {% endcomment %}
      <p>
        {% comment %} if statement voor empty state {% endcomment %}
        {% if mainTask.exercise.size > 0 %}
          {% comment %} if statement om te checken op meervoud {% endcomment %}
          {{ mainTask.exercise.size }} oefening{% if mainTask.exercise.size > 1 %}en{% endif %}
          open voor vandaag
        {% else %}
          Je hebt alle oefening afgerond voor deze taak.
        {% endif %}
      </p>
    </div>
  </header>

  <main>
    {% for exercise in mainTask.exercise %}
      <article>
        <div class="container-card" style="view-transition-name: card-{{exercise.id}}">
          <picture style="view-transition-name: image-{{exercise.image.id}}-{{exercise.id}}">
            <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}?format=avif">
            <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}?format=webp">
            <img
              src="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}"
              width="{{ exercise.image.width }}"
              height="{{ exercise.image.height }}"
              alt=""
              class="exercise-img"
              fetchpriority="high">
          </picture>

          <div class="bottom-grid">
            <h3 style="view-transition-name: title-{{exercise.id}}">{{ exercise.title }}</h3>
            <a class="btn" href="/{{mainTask.slug}}/{{forloop.index}}/drops"><img
                src="../assets/community-drops.png"
                height="15px"
                width="36px"
                alt="">{{ exercise.messages | size }} community drops</a>
            <a class="start-btn" href="{{mainTask.slug}}/{{forloop.index}}">start oefening</a>
            <div class="flex-container">
              <p class="btn">
                {% render './partials/icons/clock.liquid' %}
                {{ exercise.duration }} min</p>
              <p class="btn">
                {% render './partials/icons/clock.liquid' %}
                3 tips</p>
            </div>
          </div>
        </div>
      </article>
    {% else %}
      <p>Er zijn geen openstaande opdrachten meer!</p>
    {% endfor %}
  </main>

{% endblock %}